<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="detail">
<select id="orderList" resultType="com.example.project.model.shop.dto.OrderDetailDTO">
	select o.total, o.order_date, d.order_id, d.order_details_id, d.delivery_status, d.order_amount,d.trackingNum, p.product_name, p.picture_url
	from product p, tbl_order o, order_details d
	where d.order_id=o.order_id and d.product_id=p.product_id
	order by order_id
	</select>
	
	<update id="update">
	update order_details
	set
	delivery_status='shipping',
	trackingNum=#{trackingNum}
	where order_id=#{order_id}
	</update>
	
	<update id="change">
	update order_details
	set
	delivery_status='complete'
	where order_id=#{param1}
	</update>
		
</mapper>














